

.container {
  display: flex;
  flex-direction: column;
  /* min-width: 100vw; */
  min-height: 100vh;
  background-color: #141414;
  color:white;
  margin-top: 68px;
}

/* NAVBAR */

.navbar {
  position:fixed;
  top: 0px;
  width: 100%;
  background-color: #141414;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
  font-size: 1.5em;
  padding: 0 60px;
  height: 70px;
}

.navbar-firsts-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  font-family: "Bebas Neue";
  font-size: 1.6em;
  color: #e50914;
}

.nav-text-element {
  font-size: 0.7em;
  padding-left: 30px;
  padding-right: 5px;
}

.navbar-end-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-element {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.caret-down {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 0.7em;
}

/* MAIN */

.main-view {
  width: 100%;
  min-height: 1000px;
}

.billboard-img {
  width: 100%;
  background-size: cover;
  background-position: center center;
  border: 0;
}